<div class="container">
  <div class="form-box">
      <form #frm="ngForm" (ngSubmit)="calcularResultado()">
        <h2>Calculadora</h2>
        <label for="numero1">Número 1</label>
        <input type="number" name="numero1" id="numero1" [(ngModel)]="numero1" placeholder="Digite um número">
        <label for="numero2">Número 2</label>
        <input type="number" name="numero2" id="numero2" [(ngModel)]="numero2" placeholder="Digite um número">
        <button type="submit">Somar</button>
      </form>

      <!-- Esse if precisa do CommonModule, não tem else, nesse caso precisa negar -->
      <div *ngIf="resultado" class="result-display">
        <p>Seu resultado está abaixo</p>
      </div>

      <!-- Esse if não precisa do CommonModule, tem else -->
      @if (resultado) {
        <div class="result-display">
          <p>Resultado: <span id="result"> {{ resultado }} </span></p>
        </div>
      } @else {
        <div class="result-display">
          <p>Seu resultado aparecerá aqui.</p>
        </div>
      }
  </div>
</div>
